.shape {
    top: -470px;
    right: 54%;
    border-bottom-right-radius: 200px;
    transform: rotate(28deg) translate(50%, -50%);
    background: linear-gradient(115deg, rgb(250, 255, 96) 0%, rgba(214,222,39,1) 100%);
}
.shape  > .circle {
    background: linear-gradient(77deg, rgba(244,255,0, .2) 0%, rgba(255,255,255, 0.1) 100%);
    bottom: 150px;
    right: -100px;
}
